.subscribe {
    gap: 20px;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 40px 1fr;
    margin-bottom: 65px;

    // .subscribe__form
    &__form {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: grid;
        gap: 20px;
    }

    &__row {}

    &__title {
        grid-column: 2 / 3;

        font-size: 34px;
        color: $color-gamma;
        line-height: 1.2;
        font-weight: lighter;

    }

    &__titles {
        grid-column: 1 / 2;

        font-size: 26px;
        color: $color-beta;
        line-height: 1.2;
        font-weight: lighter;

    }

    &__image {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        position: relative;
        padding: 0px 0px 85% 0px;

        & img {
            position: absolute;
            top: 100px;
            left: 120px;

            height: 300px;
            object-fit: cover;
        }
    }

    // .subscribe__name
    &__name {
        @include input;

    }


    &__number {
        @include input;
    }

    // .subscribe__email
    &__email {
        @include input;
    }

    &__note {
        @include input;
    }

    &__approval {
        @include input;

    }

    // .subscribe__button
    &__button {
        @include button;
        font-size: 14pt;

        width: 100%;
    }
}